---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">Christina Kuleshevich</h2>
          <p class="author_subtitle">Всем привет! Меня зовут Кристина. Я родом из Слонима, небольшого города, расположенного на западе Беларуси. На данный момент живу в Минске. Ещё в детстве у меня появилась мечта объездить весь мир, увидеть Новые чудеса света, изучить удивительные природные уголки нашей планеты. Пока я только делаю первые шаги на пути к ее достижению вместе со своим любимым мужем. На страничках своего блога я буду делиться с Вами своими открытиями, впечатлениями, эмоциями, которые я получила в разных странах, а так же постараюсь помочь Вам осуществить своё собственное путешествие.</p>
          <p class="author_subtitle">See the world through my eyes, enjoying every moment...</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>